* {
  box-sizing: border-box;
  font-family: "Courier New", Courier, monospace;
  font-size: 14px;
  margin: 0;
  padding: 0;
  color: rgb(90, 84, 84);
}

header {
  display: flex;
  height: 64px;
}

.logo {
  display: flex;
  margin: 16px 24px;
  height: 32px;
}

.Title {
  display: flex;
  font-size: 24px;
  height: 32px;
}

span {
  font-size: 24px;
  height: 32px;
}

nav {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  margin-right: 16px;
}

nav a {
  margin: 24px 8px;
  height: 32px;
  font-size: 14px;
  color: black;
  text-decoration: none;
}

#Section_top {
  display: flex;
  background-color: rgb(216, 214, 214);
  padding: 32px 24px;
}

#Section_top img {
  width: 60%;
  height: 420px;
}

#Section_top h2 {
  display: flex;
  margin: 100px 200px 12px 48px;
  font-size: 40px;
}

#Section_top p {
  font-size: 18px;
  margin: 0px 220px 5px 48px;
  font-weight: bold;
}

#Section_top a {
  display: flex;
  color: white;
  margin: 24px 48px;
  background-color: rgb(90, 84, 84);
  padding: 8px;
  width: 60%;
  height: 36px;

  justify-content: center;
}

#Section_top a:link {
  text-decoration: none;
}

/* Section2 Bottom with 2 Containers right and left*/
#Section_bottom {
  display: flex;
  flex-direction: row;
}

#Section_bottom #container_left_sec2 {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}

#Section_bottom #container_left_sec2 img {
  display: flex;
  height: 352px;
  width: auto;
  margin: 32px 24px;
}

#container_left_sec2 h2 {
  display: flex;
  margin: 0 24px 24px 24px;
  font-size: 26px;
}
#container_left_sec2 p {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 0 24px 32px 24px;
}

#container_left_sec2 h4 {
  display: flex;
  font-size: 12px;
  margin: 0 24px 32px 24px;
}
/*Section 2 Container Right*/

#Section_bottom {
  display: flex;
  flex-basis: 40%;
}

#Section_bottom #container_right_sec2 {
  display: flex;
  flex-direction: column;
  margin: 32px 0 0 0;
}

.section2_right {
  display: flex;
  flex-direction: row;
}

.announcement_container_right_img {
  display: flex;
  margin: 16px;
  flex-basis: 35%;
  height: 140px;
}
.announcement_container_right_text {
  display: flexbox;
  box-sizing: border-box;
  margin: 48px 0;
  flex-basis: 65%;
}

.announcement_container .section2_right .announcement_container_right_text h2 {
  display: flex;
  font-size: 16px;
  margin: 8px 0;
}

.announcement_container .section2_right .announcement_container_right_text h4 {
  display: flex;
  font-size: 12px;
  font-weight: lighter;
  margin: 8px 0;
}

.announcement_container div a {
  display: flex;
  color: cornflowerblue;
  margin: 8px 0;
  font-size: 10px;
  text-decoration: none;
}
/*Section 3*/
#Section3 {
  display: flex;
  padding: 32px 72px;
  background-color: rgb(216, 214, 214);
}

#Section3 .gallery {
  height: 340px;
  width: 340px;
  justify-self: center;
}

.container_sec3 h1 {
  display: flex;
  font-size: 24px;
  justify-content: center;
  margin: 0 auto 16px auto;
}
#Section3 div.gallery {
  margin: 16px;
  float: left;

  background-color: white;
}

div.gallery img {
  width: 100%;
  height: auto;
}

.gallery .img_title {
  margin: 16px;
  font-weight: bolder;
  font-size: 16px;
}

.gallery h2 {
  margin: 8px 16px;
  font-weight: lighter;
  text-transform: uppercase;
}

.gallery p {
  margin: 8px 16px 24px 16px;
  font-weight: lighter;
  font-size: 12px;
}

/* Section4 with 2 Containers right and left*/
#Section4_missed_header {
  display: flex;
  height: 80px;

  justify-content: center;
}

#Section4_missed_header h1 {
  font-size: 24px;
  margin: 32px;
}

#Section4 {
  display: flex;
  flex-direction: row;
}

#Section4 #container_left_sec4 {
  display: flex;
  flex-direction: column;
  margin: 32px 0 32px 24px;
  flex-basis: 60%;
}

#Section4 #container_left_sec4 video {
  display: flex;
  height: 360px;
  width: 100%;
  padding-right: 24px;
}

#container_left_sec4 h2 {
  display: flex;
  margin: 32px 0 24px 0;
  font-size: 28px;
}
#container_left_sec4 p {
  display: flex;
  flex-wrap: wrap;
  font-size: 14px;
  margin: 0 24px 0 0;
}
/*Section 4 Container Right*/

#container_right_sec4 {
  display: flex;
  flex-direction: column;
}

.Sec4_right_container .section4_right {
  display: flex;

  flex-direction: row;
  margin: 32px 16px 16px 16px;
}

.section4_container_right_img {
  display: flex;
  flex-basis: 35%;
  margin: 16px;
  height: 150px;
}

.section4_right .section4_container_right_text {
  display: flex;
  flex-basis: 65%;
  flex-direction: column;

  justify-content: center;
  margin: 16px;
}

.section4_container_right_text h2 {
  font-size: 16px;
  font-weight: bold;
}

.section4_container_right_text h4 {
  font-size: 12px;
}

/*Footer*/

footer {
  display: flex;
  flex-direction: row;
}

footer h2 {
  display: flex;
  margin: 16px 24px;
  font-size: 12px;
  width: max-content;
}

footer nav a {
  font-size: 12px;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  main,
  nav,
  header,
  footer {
    flex-direction: column;
    width: 100%;
  }

  header .logo {
    display: none;
  }
  header nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  header nav a {
    flex-direction: row;
    justify-content: center;
  }

  #Section_top,
  #Section_bottom,
  #Section3,
  #Section4,
  #Section4_missed_header {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  #Section_top img {
    width: 100%;
  }

  #Section_top h2 {
    margin: 32px auto 32px 16px;
    width: 100%;
  }

  #Section_top p {
    margin: 32px auto 32px 16px;
    width: 100%;
  }

  #Section_top a {
    width: auto;
    background-color: rgb(187, 184, 184);
    margin-bottom: 0;
  }
  /*Section2*/

  #Section_bottom img {
    width: 100%;
  }

  #Section_bottom #container_left_sec2 {
    display: none;
  }

  #container_right_sec2 .announcement_container {
    display: flex;
    flex-direction: column;
  }

  .announcement_container .section2_right {
    display: flex;
    flex-direction: column;
  }

  .announcement_container_right_text {
    margin: 32px 0 64px 32px;
  }

  #Section_bottom h2 {
    font-weight: bolder;
    font-size: 32px;
    width: 100%;
  }

  #Section_bottom h4 {
    font-weight: bolder;
    font-size: 26px;
    width: 100%;
  }

  #Section_bottom a {
    font-weight: bolder;
    font-size: 22px;
    width: 100%;
  }

  /*Section 3*/
  #Section3 {
    display: flex;
    height: 700px;
  }

  .gallery_responsive .gallery img,
  h2,
  p {
    display: none;
  }

  #Section3 h1 {
    display: flex;
    font-size: 42px;
    width: 100%;
    justify-content: center;
  }

  .gallery_responsive {
    display: flex;

    flex-direction: column;
    height: 500px;
  }

  .gallery_responsive .img_title {
    display: flex;
    background-color: darkgray;
    height: 70px;
    width: 100%;
    margin: 0;
    align-items: center;
    color: black;
    font-size: 24px;
  }

  /*Missed section 4 title*/
  #Section4_missed_header h1 {
    display: flex;

    justify-content: center;
    font-weight: bolder;
  }

  #Section4 {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  #container_left_sec4 div h2,
  div p {
    display: none;
  }
  #container_left_sec4 div p {
    display: none;
  }

  #container_right_sec4 {
    display: none;
  }

  /*Footer*/
  .footer_nav {
    display: none;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  ...;
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  ...;
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  ...;
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  ...;
}
/*

@media only screen and (max-width: 700px) {
  .gallery_responsive h1 {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .gallery_responsive h1 {
    width: 100%;
  }
}*/

/*w*l
360×640 – 21.54% 
1366×768 – 12.85% 
1920×1080 – 7.76% 
375×667 – 4.94% 
1440×900 – 3.32% 
1280×800 – 2.67%
*/
